2. Mengatasi data null (Hint: Perhatikan jumlah data null dan tipe dari setiap kolom, untuk memilih metode yang tepat sesuai dengan skala ukur pada data) 
3. Mengganti value yang tidak sesuai (Hint: Perhatikan kolom "PernahBekerja") 
4. Membuang data yang tidak diperlukan (Hint: Cari dan buang kolom yang memiliki satu unique value (konstanta))

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)
df = pd.read_excel('Improving Employee Retention by Predicting Employee Attrition Using Machine Learning.xlsx')
df.head()

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,NomorHP,Email,TingkatPendidikan,PernahBekerja,IkutProgramLOP,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
0,spiritedPorpoise3,111065,Belum_menikah,Pria,Outsource,Software Engineer (Back End),Freshgraduate_program,Sangat_bagus,Jakarta Timur,Employee_Referral,4,4.0,0.0,0.0,9.0,+6282232522xxx,spiritedPorpoise3135@yahoo.com,Magister,1,1.0,masih_bekerja,1972-07-01,2011-01-10,2016-2-15,-
1,jealousGelding2,106080,Belum_menikah,Pria,FullTime,Data Analyst,Freshgraduate_program,Sangat_kurang,Jakarta Utara,Website,4,4.0,4.0,0.0,3.0,+6281270745xxx,jealousGelding2239@yahoo.com,Sarjana,1,1.0,toxic_culture,1984-04-26,2014-01-06,2020-1-17,2018-6-16
2,pluckyMuesli3,106452,Menikah,Pria,FullTime,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Timur,Indeed,4,3.0,0.0,0.0,11.0,+6281346215xxx,pluckyMuesli3961@icloud.com,Magister,1,1.0,jam_kerja,1974-01-07,2011-01-10,2016-01-10,2014-9-24
3,stressedTruffle1,106325,Belum_menikah,Pria,Outsource,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Pusat,LinkedIn,3,3.0,0.0,4.0,6.0,+6283233846xxx,stressedTruffle1406@hotmail.com,Sarjana,1,0.0,masih_bekerja,1979-11-24,2014-2-17,2020-02-04,-
4,shyTermite7,111171,Belum_menikah,Wanita,FullTime,Product Manager,Freshgraduate_program,Bagus,Jakarta Timur,LinkedIn,3,3.0,0.0,0.0,11.0,+6287883263xxx,shyTermite7149@gmail.com,Sarjana,1,0.0,ganti_karir,1974-11-07,2013-11-11,2020-1-22,2018-09-06

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 25 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Username                            287 non-null    object
 1   EnterpriseID                        287 non-null    int64
 2   StatusPernikahan                    287 non-null    object
 3   JenisKelamin                        287 non-null    object
 4   StatusKepegawaian                   287 non-null    object
 5   Pekerjaan                           287 non-null    object
 6   JenjangKarir                        287 non-null    object
 7   PerformancePegawai                  287 non-null    object
 8   AsalDaerah                          287 non-null    object
 9   HiringPlatform                      287 non-null    object
 10  SkorSurveyEngagement                287 non-null    int64
 11  SkorKepuasanPegawai                 282 non-null    float64
 12  JumlahKeikutsertaanProjek           284 non-null    float64
 13  JumlahKeterlambatanSebulanTerakhir  286 non-null    float64
 14  JumlahKetidakhadiran                281 non-null    float64
 15  NomorHP                             287 non-null    object
 16  Email                               287 non-null    object
 17  TingkatPendidikan                   287 non-null    object
 18  PernahBekerja                       287 non-null    object
 19  IkutProgramLOP                      29 non-null     float64
 20  AlasanResign                        221 non-null    object
 21  TanggalLahir                        287 non-null    object
 22  TanggalHiring                       287 non-null    object
 23  TanggalPenilaianKaryawan            287 non-null    object
 24  TanggalResign                       287 non-null    object
dtypes: float64(5), int64(2), object(18)
memory usage: 56.2+ KB

In [4]:
counts = df.isna().sum().sort_values(ascending=False)
percentages = round(df.isna().mean() * 100, 2).sort_values(ascending=False)
null_values = pd.concat([counts, percentages], axis=1, keys=["count", "%"])
null_values

                                    count      %
IkutProgramLOP                        258  89.90
AlasanResign                           66  23.00
JumlahKetidakhadiran                    6   2.09
SkorKepuasanPegawai                     5   1.74
JumlahKeikutsertaanProjek               3   1.05
JumlahKeterlambatanSebulanTerakhir      1   0.35
TanggalPenilaianKaryawan                0   0.00
TanggalHiring                           0   0.00
TanggalLahir                            0   0.00
PernahBekerja                           0   0.00
TingkatPendidikan                       0   0.00
Email                                   0   0.00
NomorHP                                 0   0.00
Username                                0   0.00
EnterpriseID                            0   0.00
SkorSurveyEngagement                    0   0.00
HiringPlatform                          0   0.00
AsalDaerah                              0   0.00
PerformancePegawai                      0   0.00
JenjangKarir                            0   0.00
Pekerjaan                               0   0.00
StatusKepegawaian                       0   0.00
JenisKelamin                            0   0.00
StatusPernikahan                        0   0.00
TanggalResign                           0   0.00

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
EnterpriseID,287.0,105923.324042,4044.977599,100282.0,101269.0,106069.0,110514.5,111703.0
SkorSurveyEngagement,287.0,3.101045,0.836388,1.0,3.0,3.0,4.0,5.0
SkorKepuasanPegawai,282.0,3.904255,0.913355,1.0,3.0,4.0,5.0,5.0
JumlahKeikutsertaanProjek,284.0,1.179577,2.294441,0.0,0.0,0.0,0.0,8.0
JumlahKeterlambatanSebulanTerakhir,286.0,0.412587,1.275016,0.0,0.0,0.0,0.0,6.0
JumlahKetidakhadiran,281.0,10.448399,6.902252,1.0,5.0,10.0,15.0,55.0
IkutProgramLOP,29.0,0.517241,0.508548,0.0,0.0,1.0,1.0,1.0

In [6]:
df.describe(include = object).T

                         count unique                             top freq
Username                   287    285                      boredEggs0    2
StatusPernikahan           287      5                   Belum_menikah  132
JenisKelamin               287      2                          Wanita  167
StatusKepegawaian          287      3                        FullTime  217
Pekerjaan                  287     14    Software Engineer (Back End)  109
JenjangKarir               287      3           Freshgraduate_program  169
PerformancePegawai         287      5                           Biasa   85
AsalDaerah                 287      5                   Jakarta Pusat   72
HiringPlatform             287      9                          Indeed   85
NomorHP                    287    287                  +6282232522xxx    1
Email                      287    287  spiritedPorpoise3135@yahoo.com    1
TingkatPendidikan          287      3                         Sarjana  176
PernahBekerja              287      2                               1  286
AlasanResign               221     11                   masih_bekerja  132
TanggalLahir               287    284                      1987-06-14    2
TanggalHiring              287     97                      2011-01-10   12
TanggalPenilaianKaryawan   287    127                       2020-1-14   17
TanggalResign              287     53                               -  198

In [7]:
df['PernahBekerja'].value_counts()

1      286
yes      1
Name: PernahBekerja, dtype: int64

In [8]:
df[df['PernahBekerja']== 'yes']

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,NomorHP,Email,TingkatPendidikan,PernahBekerja,IkutProgramLOP,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
246,peacefulKitten4,101525,Lainnya,Pria,Outsource,Software Engineer (Front End),Freshgraduate_program,Sangat_kurang,Jakarta Pusat,LinkedIn,3,3.0,5.0,0.0,2.0,+6283105380xxx,peacefulKitten4282@yahoo.com,Sarjana,yes,NaN,kejelasan_karir,1987-12-17,2015-01-05,2016-4-20,2017-11-15

In [9]:
df1 = df.copy()

## Menghapus kolom yg tidak di perlukan

In [10]:
# menghapus kolom 'PernahBekerja' karena hanya memiliki 1 unique value
df1 = df1.drop('PernahBekerja', axis = 1)
# menghapus kolom 'IkutProgramLOP' karena null value terlalu banyak
df1 = df1.drop('IkutProgramLOP', axis = 1)

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Username                            287 non-null    object
 1   EnterpriseID                        287 non-null    int64
 2   StatusPernikahan                    287 non-null    object
 3   JenisKelamin                        287 non-null    object
 4   StatusKepegawaian                   287 non-null    object
 5   Pekerjaan                           287 non-null    object
 6   JenjangKarir                        287 non-null    object
 7   PerformancePegawai                  287 non-null    object
 8   AsalDaerah                          287 non-null    object
 9   HiringPlatform                      287 non-null    object
 10  SkorSurveyEngagement                287 non-null    int64
 11  SkorKepuasanPegawai                 282 non-null    float64
 12  JumlahKeikutsertaanProjek           284 non-null    float64
 13  JumlahKeterlambatanSebulanTerakhir  286 non-null    float64
 14  JumlahKetidakhadiran                281 non-null    float64
 15  NomorHP                             287 non-null    object
 16  Email                               287 non-null    object
 17  TingkatPendidikan                   287 non-null    object
 18  AlasanResign                        221 non-null    object
 19  TanggalLahir                        287 non-null    object
 20  TanggalHiring                       287 non-null    object
 21  TanggalPenilaianKaryawan            287 non-null    object
 22  TanggalResign                       287 non-null    object
dtypes: float64(4), int64(2), object(17)
memory usage: 51.7+ KB

In [12]:
df1.isna().sum().sort_values(ascending=False)

AlasanResign                          66
JumlahKetidakhadiran                   6
SkorKepuasanPegawai                    5
JumlahKeikutsertaanProjek              3
JumlahKeterlambatanSebulanTerakhir     1
TanggalPenilaianKaryawan               0
TanggalHiring                          0
TanggalLahir                           0
TingkatPendidikan                      0
Email                                  0
NomorHP                                0
Username                               0
EnterpriseID                           0
SkorSurveyEngagement                   0
HiringPlatform                         0
AsalDaerah                             0
PerformancePegawai                     0
JenjangKarir                           0
Pekerjaan                              0
StatusKepegawaian                      0
JenisKelamin                           0
StatusPernikahan                       0
TanggalResign                          0
dtype: int64

In [13]:
pd.set_option('display.max_rows', None)

In [14]:
df1[df1['AlasanResign'].isnull()]

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,NomorHP,Email,TingkatPendidikan,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
105,scornfulBoa6,111235,Belum_menikah,Wanita,FullTime,Data Analyst,Freshgraduate_program,Bagus,Jakarta Timur,Indeed,3,3.0,0.0,0.0,1.0,+6281335006xxx,scornfulBoa6602@yahoo.com,Sarjana,NaN,1970-04-24,2013-5-13,2020-1-14,-
187,dopeyGatorade1,110836,Menikah,Pria,FullTime,Software Engineer (Back End),Freshgraduate_program,Biasa,Jakarta Barat,Diversity_Job_Fair,2,3.0,0.0,3.0,10.0,+6285806554xxx,dopeyGatorade1019@gmail.com,Sarjana,NaN,1964-10-12,2010-4-26,2012-03-06,-
189,grudgingMeerkat3,106008,Belum_menikah,Wanita,Outsource,Software Engineer (Back End),Freshgraduate_program,Bagus,Jakarta Timur,CareerBuilder,3,4.0,0.0,0.0,4.0,+6285714869xxx,grudgingMeerkat3383@proton.com,Sarjana,NaN,1986-04-17,2011-01-10,2017-02-03,-
190,mellowPudding2,105441,Bercerai,Wanita,FullTime,Software Engineer (Back End),Senior_level,Bagus,Jakarta Selatan,Employee_Referral,4,4.0,0.0,0.0,3.0,+6281218824xxx,mellowPudding2026@outlook.com,Sarjana,NaN,1980-03-02,2012-03-05,2020-2-21,-
195,boastfulSyrup4,100869,Lainnya,Pria,FullTime,Software Engineer (Front End),Freshgraduate_program,Sangat_bagus,Jakarta Timur,Employee_Referral,4,3.0,0.0,0.0,2.0,+6281209655xxx,boastfulSyrup4371@yahoo.com,Sarjana,NaN,1981-07-11,2015-06-02,2020-01-04,-
196,spiritedDunbird4,105997,Belum_menikah,Wanita,FullTime,DevOps Engineer,Mid_level,Kurang,Jakarta Barat,Indeed,3,3.0,5.0,0.0,2.0,+6281913444xxx,spiritedDunbird4070@icloud.com,Sarjana,NaN,1986-11-07,2015-01-05,2020-02-11,-
197,pridefulChamois9,101005,Menikah,Wanita,Outsource,Software Engineer (Back End),Senior_level,Biasa,Jakarta Selatan,LinkedIn,3,3.0,0.0,0.0,1.0,+6281276322xxx,pridefulChamois9218@proton.com,Sarjana,NaN,1969-09-08,2014-07-07,2020-01-11,-
198,jumpySeahorse6,110876,Belum_menikah,Pria,FullTime,Software Engineer (Back End),Freshgraduate_program,Sangat_bagus,Jakarta Utara,Indeed,3,5.0,5.0,0.0,8.0,+6281959858xxx,jumpySeahorse6149@gmail.com,Sarjana,NaN,1989-06-30,2017-4-20,2020-1-28,-
199,mercifulSmelt7,100520,Menikah,Pria,FullTime,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Timur,Indeed,3,3.0,6.0,0.0,2.0,+6283307603xxx,mercifulSmelt7471@proton.com,Sarjana,NaN,1985-09-05,2012-09-05,2020-2-27,-
200,jubilantWildfowl6,105889,Belum_menikah,Wanita,FullTime,Software Engineer (Front End),Senior_level,Sangat_kurang,Jakarta Barat,Google_Search,3,4.0,0.0,0.0,13.0,+6285783035xxx,jubilantWildfowl6521@yahoo.com,Sarjana,NaN,1977-03-23,2011-11-28,2020-2-22,-
205,amazedRhino8,110412,Belum_menikah,Pria,FullTime,Software Engineer (Back End),Senior_level,Biasa,Jakarta Pusat,Indeed,3,3.0,0.0,0.0,14.0,+6289663000xxx,amazedRhino8622@gmail.com,Sarjana,NaN,1970-03-10,2013-9-30,2015-2-20,-
206,similarHeron2,100799,Belum_menikah,Wanita,FullTime,Software Engineer (Back End),Freshgraduate_program,Bagus,Jakarta Timur,CareerBuilder,4,4.0,0.0,0.0,7.0,+6281305913xxx,similarHeron2961@hotmail.com,Magister,NaN,1971-07-10,2014-07-07,2015-1-15,-
208,worldlyMackerel2,106383,Belum_menikah,Pria,FullTime,Software Engineer (Back End),Mid_level,Sangat_bagus,Jakarta Utara,Google_Search,4,3.0,0.0,0.0,13.0,+6289537268xxx,worldlyMackerel2662@hotmail.com,Sarjana,NaN,1988-03-06,2011-07-05,2013-2-20,-
209,soreTruffle3,105808,Lainnya,Wanita,Outsource,Software Engineer (Back End),Freshgraduate_program,Sangat_kurang,Jakarta Timur,Indeed,2,4.0,0.0,0.0,3.0,+6285636782xxx,soreTruffle3888@outlook.com,Magister,NaN,1980-05-08,2014-9-29,2020-02-07,-
210,spiritedHeron5,100815,Lainnya,Wanita,FullTime,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Pusat,Indeed,3,5.0,0.0,0.0,20.0,+6287739176xxx,spiritedHeron5223@yahoo.com,Magister,NaN,1989-09-22,2015-2-16,2020-1-25,-
215,boastfulDinosaur8,101147,Belum_menikah,Wanita,FullTime,Product Design (UI & UX),Freshgraduate_program,Biasa,Jakarta Pusat,Diversity_Job_Fair,4,4.0,0.0,0.0,17.0,+6281230982xxx,boastfulDinosaur8246@yahoo.com,Magister,NaN,1973-02-14,2011-11-07,2016-02-02,-
216,joyfulMandrill4,105401,Belum_menikah,Pria,FullTime,Machine Learning Engineer,Freshgraduate_program,Sangat_bagus,Jakarta Barat,LinkedIn,2,5.0,7.0,0.0,2.0,+6285916008xxx,joyfulMandrill4830@yahoo.com,Sarjana,NaN,1964-07-30,2014-2-17,2017-01-10,-
217,sincereBass4,101615,Bercerai,Pria,FullTime,Software Engineer (Front End),Freshgraduate_program,Biasa,Jakarta Pusat,Website,2,2.0,0.0,3.0,5.0,+6285679942xxx,sincereBass4134@yahoo.com,Sarjana,NaN,1974-05-09,2014-05-12,2020-1-17,-
218,annoyedSalt4,105685,Belum_menikah,Pria,FullTime,Software Engineer (Back End),Mid_level,Sangat_kurang,Jakarta Selatan,LinkedIn,3,5.0,0.0,0.0,8.0,+6283898937xxx,annoyedSalt4842@hotmail.com,Magister,NaN,1974-05-31,2014-11-10,2020-2-13,-
219,excludedCoconut6,101499,Belum_menikah,Pria,Outsource,Software Engineer (Android),Mid_level,Sangat_bagus,Jakarta Barat,Diversity_Job_Fair,3,4.0,6.0,0.0,8.0,+6287761474xxx,excludedCoconut6557@yahoo.com,Sarjana,NaN,1964-01-04,2012-01-09,2016-01-04,-
220,soreDunbird3,101434,Belum_menikah,Pria,Outsource,Data Engineer,Freshgraduate_program,Sangat_bagus,Jakarta Utara,LinkedIn,4,4.0,0.0,0.0,11.0,+6285615899xxx,soreDunbird3996@hotmail.com,Magister,NaN,1982-07-22,2011-5-16,2016-3-30,-
221,excludedPlover4,110746,Menikah,Wanita,FullTime,Software Engineer (Back End),Freshgraduate_program,Kurang,Jakarta Barat,Google_Search,3,3.0,0.0,0.0,6.0,+6281258404xxx,excludedPlover4963@yahoo.com,Magister,NaN,1983-11-08,2011-04-04,2013-01-07,-
222,ferventHyena2,101401,Belum_menikah,Pria,FullTime,Software Engineer (Back End),Mid_level,Biasa,Jakarta Barat,Employee_Referral,3,3.0,0.0,0.0,14.0,+6289997684xxx,ferventHyena2884@outlook.com,Sarjana,NaN,1961-06-19,2014-01-06,2020-01-07,-
223,cautiousTortoise1,110590,Lainnya,Wanita,Outsource,Software Engineer (Android),Senior_level,Kurang,Jakarta Barat,Indeed,4,3.0,0.0,0.0,1.0,+6289640533xxx,cautiousTortoise1671@yahoo.com,Sarjana,NaN,1978-11-05,2012-07-02,2020-2-25,-
224,affectedLollies9,106673,Bercerai,Wanita,FullTime,Software Engineer (Back End),Mid_level,Biasa,Jakarta Pusat,Indeed,4,4.0,0.0,0.0,1.0,+6289519764xxx,affectedLollies9935@proton.com,Sarjana,NaN,1965-05-09,2011-07-05,2017-03-02,-
225,crushedMallard7,110450,Menikah,Pria,FullTime,Software Engineer (Android),Freshgraduate_program,Bagus,Jakarta Barat,Indeed,3,5.0,0.0,0.0,15.0,+6289949044xxx,crushedMallard7339@outlook.com,Magister,NaN,1977-08-19,2011-04-04,2020-1-14,-
226,culturedMandrill6,100709,Menikah,Wanita,FullTime,Software Engineer (Back End),Freshgraduate_program,Biasa,Jakarta Utara,Indeed,1,5.0,4.0,4.0,19.0,+6282293404xxx,culturedMandrill6815@yahoo.com,Sarjana,NaN,1987-05-15,2011-05-02,2013-08-10,-
227,alertSyrup3,111486,Belum_menikah,Pria,FullTime,Software Engineer (Android),Mid_level,Biasa,Jakarta Utara,Google_Search,4,5.0,0.0,0.0,4.0,+6285607737xxx,alertSyrup3002@hotmail.com,Sarjana,NaN,1987-03-18,2011-04-04,2019-07-02,-
232,mereBaboon2,101023,Belum_menikah,Pria,FullTime,Software Engineer (Back End),Senior_level,Biasa,Jakarta Timur,Indeed,3,5.0,0.0,0.0,13.0,+6281244714xxx,mereBaboon2299@hotmail.com,Sarjana,NaN,1979-11-27,2013-8-19,2020-1-22,-
234,superiorLemur1,105736,Lainnya,Wanita,FullTime,Software Engineer (Android),Freshgraduate_program,Biasa,Jakarta Selatan,Google_Search,4,5.0,0.0,0.0,19.0,+6289967540xxx,superiorLemur1276@yahoo.com,Doktor,NaN,1981-03-16,2012-01-09,2020-1-29,-
235,boredTortoise1,100526,Bercerai,Pria,FullTime,Software Engineer (Back End),Senior_level,Biasa,Jakarta Barat,Indeed,3,4.0,0.0,0.0,6.0,+6283858649xxx,boredTortoise1055@hotmail.com,Magister,NaN,1978-11-25,2010-8-30,2012-05-04,-
237,similarCaviar3,105951,Lainnya,Wanita,FullTime,Software Engineer (Back End),Freshgraduate_program,Biasa,Jakarta Selatan,Indeed,3,3.0,0.0,0.0,6.0,+6283269904xxx,similarCaviar3516@icloud.com,Sarjana,NaN,1992-05-07,2015-06-05,2020-2-14,-
238,enviousPie8,100282,Belum_menikah,Pria,FullTime,Product Manager,Senior_level,Bagus,Jakarta Utara,Indeed,5,3.0,6.0,0.0,17.0,+6283303593xxx,enviousPie8891@hotmail.com,Sarjana,NaN,1975-05-05,2015-3-30,2017-2-24,-
240,similarTortoise9,101058,Lainnya,Pria,Outsource,Software Engineer (Back End),Freshgraduate_program,Bagus,Jakarta Timur,Employee_Referral,4,5.0,6.0,0.0,7.0,+6281216232xxx,similarTortoise9156@outlook.com,Magister,NaN,1986-04-23,2014-11-10,2020-01-07,-
241,chicPlover7,111572,Bercerai,Wanita,Outsource,Software Engineer (Front End),Freshgraduate_program,Sangat_bagus,Jakarta Timur,Diversity_Job_Fair,2,4.0,4.0,0.0,17.0,+6281366582xxx,chicPlover7178@hotmail.com,Sarjana,NaN,1987-06-14,2011-9-26,2014-8-15,-
242,pluckyRhino0,105574,Belum_menikah,Pria,FullTime,Software Engineer (Back End),Freshgraduate_program,Kurang,Jakarta Utara,Employee_Referral,4,3.0,4.0,0.0,5.0,+6283307754xxx,pluckyRhino0779@gmail.com,Sarjana,NaN,1965-09-09,2014-11-10,2020-01-02,-
243,betrayedLizard5,110865,Belum_menikah,Wanita,FullTime,Software Engineer (Back End),Freshgraduate_program,Biasa,Jakarta Pusat,LinkedIn,3,5.0,0.0,0.0,3.0,+6283843655xxx,betrayedLizard5694@gmail.com,Sarjana,NaN,1974-10-09,2013-8-19,2020-2-15,-
244,curiousMackerel5,100667,Belum_menikah,Wanita,FullTime,Software Engineer (Back End),Senior_level,Bagus,Jakarta Pusat,Google_Search,4,4.0,0.0,0.0,4.0,+6289758085xxx,curiousMackerel5858@hotmail.com,Sarjana,NaN,1973-11-28,2014-9-18,2020-1-15,-
245,cautiousLeopard7,101043,Bercerai,Pria,FullTime,Software Engineer (Front End),Freshgraduate_program,Sangat_bagus,Jakarta Utara,LinkedIn,2,3.0,0.0,0.0,3.0,+6283186563xxx,cautiousLeopard7395@yahoo.com,Magister,NaN,1977-11-10,2014-2-17,2020-02-06,-
250,jubilantTeal7,106547,Lainnya,Pria,FullTime,DevOps Engineer,Freshgraduate_program,Bagus,Jakarta Barat,Employee_Referral,3,3.0,7.0,0.0,16.0,+6287898271xxx,jubilantTeal7049@hotmail.com,Magister,NaN,1970-02-08,2015-01-05,2020-1-14,-
251,importedJerky1,106093,Bercerai,Wanita,Outsource,Software Engineer (Front End),Freshgraduate_program,Sangat_bagus,Jakarta Utara,CareerBuilder,4,3.0,0.0,0.0,17.0,+6285715469xxx,importedJerky1918@yahoo.com,Sarjana,NaN,1979-01-17,2011-9-26,2018-07-02,-
252,crushedHyena6,111299,Lainnya,Wanita,FullTime,Machine Learning Engineer,Freshgraduate_program,Biasa,Jakarta Selatan,Indeed,4,5.0,0.0,0.0,5.0,+6285683201xxx,crushedHyena6043@yahoo.com,Sarjana,NaN,1985-11-23,2014-11-10,2020-1-16,-
257,puzzledUnicorn3,101135,Menikah,Wanita,FullTime,Digital Product Manager,Freshgraduate_program,Sangat_kurang,Jakarta Timur,LinkedIn,4,4.0,0.0,0.0,15.0,+6289989448xxx,puzzledUnicorn3199@outlook.com,Sarjana,NaN,1976-12-26,2013-07-08,2017-06-10,-
258,soreGranola0,100821,Belum_menikah,Wanita,FullTime,Software Engineer (iOS),Freshgraduate_program,Bagus,Jakarta Pusat,LinkedIn,3,5.0,7.0,0.0,20.0,+6289565639xxx,soreGranola0345@icloud.com,Sarjana,NaN,1989-11-24,2015-3-30,2020-01-10,-
259,drearyLemur9,101114,Lainnya,Wanita,FullTime,Product Manager,Freshgraduate_program,Biasa,Jakarta Timur,Website,3,3.0,0.0,0.0,11.0,+6281279787xxx,drearyLemur9992@icloud.com,Magister,NaN,1981-10-26,2013-9-30,2020-1-21,-
260,wornoutDoughnut2,106442,Belum_menikah,Wanita,FullTime,Software Engineer (Front End),Freshgraduate_program,Sangat_bagus,Jakarta Utara,Google_Search,3,4.0,0.0,0.0,10.0,+6289528552xxx,wornoutDoughnut2488@outlook.com,Sarjana,NaN,1981-09-05,2011-9-26,2012-10-22,-
261,madSardines6,106459,Belum_menikah,Wanita,FullTime,Software Engineer (Front End),Freshgraduate_program,Biasa,Jakarta Pusat,Indeed,2,3.0,0.0,4.0,16.0,+6281393313xxx,madSardines6012@yahoo.com,Sarjana,NaN,1985-01-07,2011-01-10,2017-04-05,-
262,aloofBasmati5,106166,Belum_menikah,Wanita,FullTime,Software Engineer (Front End),Freshgraduate_program,Sangat_bagus,Jakarta Selatan,LinkedIn,4,4.0,0.0,0.0,16.0,+6287803460xxx,aloofBasmati5005@yahoo.com,Magister,NaN,1986-12-10,2011-07-05,2013-07-02,-
263,alertDoughnut7,110277,Belum_menikah,Pria,FullTime,Product Manager,Senior_level,Sangat_bagus,Jakarta Barat,LinkedIn,3,5.0,0.0,0.0,1.0,+6281316733xxx,alertDoughnut7481@yahoo.com,Magister,NaN,1983-07-10,2011-07-05,2020-1-17,-
264,mercifulCheetah9,106590,Belum_menikah,Pria,FullTime,Software Engineer (Back End),Freshgraduate_program,Sangat_bagus,Jakarta Barat,LinkedIn,3,4.0,5.0,0.0,13.0,+6281883291xxx,mercifulCheetah9150@proton.com,Sarjana,NaN,1983-02-09,2016-6-30,2020-1-14,-
265,sheepishOatmeal5,105963,Belum_menikah,Pria,FullTime,Software Engineer (Front End),Freshgraduate_program,Kurang,Jakarta Utara,Indeed,2,2.0,0.0,3.0,4.0,+6281933005xxx,sheepishOatmeal5286@yahoo.com,Magister,NaN,1976-11-15,2011-2-21,2013-04-12,-
266,dreadfulBobolink0,111680,Belum_menikah,Pria,FullTime,Software Engineer (Back End),Freshgraduate_program,Sangat_bagus,Jakarta Timur,Other,3,4.0,0.0,0.0,15.0,+6289697234xxx,dreadfulBobolink0484@proton.com,Magister,NaN,1975-09-16,2007-6-25,2011-7-14,-
267,importedOwl7,111336,Bercerai,Pria,FullTime,Software Engineer (Back End),Freshgraduate_program,Sangat_kurang,Jakarta Barat,Diversity_Job_Fair,4,5.0,3.0,0.0,13.0,+6285664605xxx,importedOwl7056@icloud.com,Magister,NaN,1979-02-20,2011-11-07,2016-8-16,-
268,peskyCoconut7,110287,Bercerai,Wanita,FullTime,Product Manager,Senior_level,Biasa,Jakarta Pusat,LinkedIn,2,3.0,0.0,0.0,3.0,+6281328735xxx,peskyCoconut7276@outlook.com,Sarjana,NaN,1988-09-19,2011-07-05,2013-5-15,-
269,awedBaboon6,100973,Belum_menikah,Wanita,FullTime,Software Engineer (Back End),Freshgraduate_program,Bagus,Jakarta Timur,LinkedIn,3,3.0,0.0,0.0,7.0,+6289931606xxx,awedBaboon6031@proton.com,Sarjana,NaN,1972-09-11,2012-11-05,2020-1-17,-
270,truthfulHawk9,106029,Menikah,Wanita,FullTime,Software Engineer (Back End),Senior_level,Biasa,Jakarta Selatan,Indeed,4,3.0,0.0,0.0,10.0,+6285919278xxx,truthfulHawk9561@yahoo.com,Sarjana,NaN,1954-09-21,2012-07-02,2020-1-17,-
271,bubblyPup4,100950,Menikah,Wanita,FullTime,Software Engineer (Back End),Freshgraduate_program,Sangat_bagus,Jakarta Selatan,LinkedIn,2,5.0,0.0,0.0,4.0,+6289922130xxx,bubblyPup4032@proton.com,Doktor,NaN,1984-03-11,2016-06-06,2020-1-18,-
272,adoringMacaw3,110492,Bercerai,Wanita,FullTime,Software Engineer (Back End),Freshgraduate_program,Biasa,Jakarta Barat,Indeed,2,4.0,0.0,0.0,11.0,+6285627455xxx,adoringMacaw3272@yahoo.com,Sarjana,NaN,1979-02-12,2014-05-12,2020-2-19,-
273,amusedIcecream0,111104,Menikah,Pria,FullTime,Product Design (UI & UX),Freshgraduate_program,Bagus,Jakarta Pusat,Google_Search,3,3.0,0.0,0.0,10.0,+6285622739xxx,amusedIcecream0506@outlook.com,Sarjana,NaN,1982-09-02,2012-5-14,2020-2-22,-
277,exactingZebra6,106073,Belum_menikah,Pria,FullTime,Data Analyst,Mid_level,Sangat_bagus,Jakarta Utara,LinkedIn,4,5.0,0.0,0.0,13.0,+6283346575xxx,exactingZebra6270@icloud.com,Magister,NaN,1986-12-09,2012-07-09,2020-02-04,-
278,blissfulCow2,100331,Bercerai,Pria,FullTime,Product Manager,Freshgraduate_program,Bagus,Jakarta Utara,Diversity_Job_Fair,3,3.0,0.0,0.0,15.0,+6285922491xxx,blissfulCow2350@gmail.com,Sarjana,NaN,1974-02-21,2012-04-02,2017-05-06,-
279,peacefulChamois3,106257,Belum_menikah,Wanita,FullTime,Product Design (UI & UX),Freshgraduate_program,Bagus,Jakarta Pusat,LinkedIn,3,4.0,0.0,0.0,13.0,+6282208741xxx,peacefulChamois3574@icloud.com,Doktor,NaN,1980-04-18,2013-07-08,2020-1-22,-
280,anxiousTeal2,111378,Belum_menikah,Wanita,FullTime,Software Engineer (Back End),Mid_level,Bagus,Jakarta Timur,Employee_Referral,3,5.0,7.0,0.0,16.0,+6289567915xxx,anxiousTeal2015@gmail.com,Sarjana,NaN,1984-09-16,2014-11-10,2020-01-04,-
281,anxiousWasp6,100628,Bercerai,Pria,FullTime,Software Engineer (Front End),Freshgraduate_program,Sangat_bagus,Jakarta Pusat,Indeed,2,5.0,7.0,0.0,15.0,+6281806218xxx,anxiousWasp6788@outlook.com,Sarjana,NaN,1983-09-04,2017-2-15,2020-1-23,-
282,dopeySheep0,106034,Belum_menikah,Wanita,FullTime,Data Engineer,Mid_level,Bagus,Jakarta Pusat,Google_Search,2,5.0,0.0,0.0,16.0,+6283343465xxx,dopeySheep0297@icloud.com,Sarjana,NaN,1973-12-08,2011-9-26,2016-03-01,-
286,puzzledFish5,106214,Menikah,Pria,Internship,Data Analyst,Mid_level,Bagus,Jakarta Barat,Indeed,4,3.0,0.0,0.0,2.0,+6287722818xxx,puzzledFish5776@hotmail.com,Sarjana,NaN,1981-08-10,2012-8-16,2020-1-14,-

In [15]:
df1[df1['JumlahKetidakhadiran'].isnull()]

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,NomorHP,Email,TingkatPendidikan,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
15,enviousSalami4,106710,Belum_menikah,Wanita,FullTime,Software Engineer (Front End),Senior_level,Sangat_kurang,Jakarta Utara,LinkedIn,3,3.0,0.0,0.0,NaN,+6285856642xxx,enviousSalami4948@hotmail.com,Doktor,toxic_culture,1985-03-15,2011-01-10,2015-01-05,2019-08-04
21,dejectedPolenta7,101120,Lainnya,Wanita,FullTime,Scrum Master,Mid_level,Sangat_kurang,Jakarta Barat,Indeed,3,4.0,NaN,0.0,NaN,+6285591576xxx,dejectedPolenta7016@proton.com,Sarjana,masih_bekerja,1981-03-26,2011-07-05,2019-03-02,-
29,grizzledFlamingo9,106473,Menikah,Wanita,FullTime,Software Engineer (Back End),Mid_level,Biasa,Jakarta Utara,LinkedIn,4,3.0,7.0,0.0,NaN,+6289673952xxx,grizzledFlamingo9139@proton.com,Doktor,masih_bekerja,1973-05-27,2015-01-05,2019-2-13,-
53,selfishBasmati2,110407,Lainnya,Wanita,FullTime,Product Design (UI & UX),Freshgraduate_program,Biasa,Jakarta Timur,Diversity_Job_Fair,4,4.0,3.0,0.0,NaN,+6285718122xxx,selfishBasmati2000@hotmail.com,Magister,tidak_bahagia,1987-04-04,2015-2-16,2020-2-18,2018-9-23
54,adoringCardinal9,101188,Lainnya,Wanita,FullTime,Data Analyst,Mid_level,Sangat_bagus,Jakarta Barat,LinkedIn,4,5.0,0.0,0.0,NaN,+6289841872xxx,adoringCardinal9745@yahoo.com,Sarjana,masih_bekerja,1987-05-21,2015-3-30,2020-02-07,-
67,mellowCheese1,105779,Bercerai,Pria,Outsource,Software Engineer (Back End),Mid_level,Kurang,Jakarta Barat,Employee_Referral,3,3.0,0.0,0.0,NaN,+6287742497xxx,mellowCheese1411@icloud.com,Doktor,masih_bekerja,1985-09-15,2015-3-30,2020-2-18,-

In [16]:
df1[df1['SkorKepuasanPegawai'].isnull()]

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,NomorHP,Email,TingkatPendidikan,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
8,lyingMussel8,110533,Bercerai,Pria,FullTime,Software Engineer (Android),Senior_level,Sangat_kurang,Jakarta Selatan,Employee_Referral,3,NaN,0.0,0.0,5.0,+6281276485xxx,lyingMussel8944@proton.com,Magister,masih_bekerja,1980-08-26,2016-07-06,2020-2-28,-
25,needySyrup4,101226,Bercerai,Pria,FullTime,Product Manager,Freshgraduate_program,Biasa,Jakarta Pusat,Diversity_Job_Fair,2,NaN,6.0,4.0,13.0,+6283112696xxx,needySyrup4506@hotmail.com,Magister,ganti_karir,1986-10-05,2012-2-15,2020-2-22,2018-2-19
55,importedApricots7,105820,Menikah,Wanita,FullTime,Software Engineer (Back End),Freshgraduate_program,Biasa,Jakarta Barat,Indeed,3,NaN,NaN,0.0,10.0,+6289594763xxx,importedApricots7729@hotmail.com,Sarjana,masih_bekerja,1971-10-23,2015-2-16,2016-1-20,-
122,puzzledBurritos7,111373,Belum_menikah,Wanita,Outsource,Software Engineer (Android),Mid_level,Kurang,Jakarta Timur,LinkedIn,3,NaN,NaN,0.0,14.0,+6281254157xxx,puzzledBurritos7565@icloud.com,Sarjana,masih_bekerja,1979-03-10,2012-04-02,2020-1-14,-
166,resolvedCod5,110380,Belum_menikah,Pria,FullTime,Product Design (UI & UX),Freshgraduate_program,Biasa,Jakarta Pusat,Google_Search,4,NaN,0.0,0.0,13.0,+6287879882xxx,resolvedCod5392@outlook.com,Sarjana,masih_bekerja,1970-12-22,2012-04-02,2020-1-14,-

In [17]:
df1[df1['JumlahKeikutsertaanProjek'].isnull()]

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,NomorHP,Email,TingkatPendidikan,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
21,dejectedPolenta7,101120,Lainnya,Wanita,FullTime,Scrum Master,Mid_level,Sangat_kurang,Jakarta Barat,Indeed,3,4.0,NaN,0.0,NaN,+6285591576xxx,dejectedPolenta7016@proton.com,Sarjana,masih_bekerja,1981-03-26,2011-07-05,2019-03-02,-
55,importedApricots7,105820,Menikah,Wanita,FullTime,Software Engineer (Back End),Freshgraduate_program,Biasa,Jakarta Barat,Indeed,3,NaN,NaN,0.0,10.0,+6289594763xxx,importedApricots7729@hotmail.com,Sarjana,masih_bekerja,1971-10-23,2015-2-16,2016-1-20,-
122,puzzledBurritos7,111373,Belum_menikah,Wanita,Outsource,Software Engineer (Android),Mid_level,Kurang,Jakarta Timur,LinkedIn,3,NaN,NaN,0.0,14.0,+6281254157xxx,puzzledBurritos7565@icloud.com,Sarjana,masih_bekerja,1979-03-10,2012-04-02,2020-1-14,-

In [18]:
df1[df1['JumlahKeterlambatanSebulanTerakhir'].isnull()]

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,NomorHP,Email,TingkatPendidikan,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
176,shamefulSalami8,101647,Bercerai,Pria,Outsource,Software Engineer (Back End),Mid_level,Biasa,Jakarta Pusat,LinkedIn,3,5.0,5.0,NaN,1.0,+6285890385xxx,shamefulSalami8906@proton.com,Magister,masih_bekerja,1983-05-06,2014-07-07,2020-2-18,-

In [27]:
x = df['SkorKepuasanPegawai']

In [28]:
print('rata-rata: ',x.mean())
print('median: ',x.median())

rata-rata:  3.904255319148936
median:  4.0

x.mode()[0]

## Mengubah null value

In [19]:
# isi AlasanResign dengan masih_bekerja karena belum resign
df1['AlasanResign'] = df1['AlasanResign'].fillna('masih_bekerja')
# menggunakan nilai 0 pada JumlahKeikutsertaanProjek, JumlahKeterlambatanSebulanTerakhir, dan JumlahKetidakhadiran
df1['JumlahKetidakhadiran'] = df1['JumlahKetidakhadiran'].fillna(df1['JumlahKetidakhadiran'].median())
df1['JumlahKeikutsertaanProjek'] = df1['JumlahKeikutsertaanProjek'].fillna(df1['JumlahKeikutsertaanProjek'].median())
df1['JumlahKeterlambatanSebulanTerakhir'] = df1['JumlahKeterlambatanSebulanTerakhir'].fillna(df1['JumlahKeterlambatanSebulanTerakhir'].median())
# menggunakan nilai mode untuk SkorKepuasanPegawai
df1['SkorKepuasanPegawai'] = df1['SkorKepuasanPegawai'].fillna(df1['SkorKepuasanPegawai'].mode()[0])

In [20]:
df1.isna().sum()

Username                              0
EnterpriseID                          0
StatusPernikahan                      0
JenisKelamin                          0
StatusKepegawaian                     0
Pekerjaan                             0
JenjangKarir                          0
PerformancePegawai                    0
AsalDaerah                            0
HiringPlatform                        0
SkorSurveyEngagement                  0
SkorKepuasanPegawai                   0
JumlahKeikutsertaanProjek             0
JumlahKeterlambatanSebulanTerakhir    0
JumlahKetidakhadiran                  0
NomorHP                               0
Email                                 0
TingkatPendidikan                     0
AlasanResign                          0
TanggalLahir                          0
TanggalHiring                         0
TanggalPenilaianKaryawan              0
TanggalResign                         0
dtype: int64

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Username                            287 non-null    object
 1   EnterpriseID                        287 non-null    int64
 2   StatusPernikahan                    287 non-null    object
 3   JenisKelamin                        287 non-null    object
 4   StatusKepegawaian                   287 non-null    object
 5   Pekerjaan                           287 non-null    object
 6   JenjangKarir                        287 non-null    object
 7   PerformancePegawai                  287 non-null    object
 8   AsalDaerah                          287 non-null    object
 9   HiringPlatform                      287 non-null    object
 10  SkorSurveyEngagement                287 non-null    int64
 11  SkorKepuasanPegawai                 287 non-null    float64
 12  JumlahKeikutsertaanProjek           287 non-null    float64
 13  JumlahKeterlambatanSebulanTerakhir  287 non-null    float64
 14  JumlahKetidakhadiran                287 non-null    float64
 15  NomorHP                             287 non-null    object
 16  Email                               287 non-null    object
 17  TingkatPendidikan                   287 non-null    object
 18  AlasanResign                        287 non-null    object
 19  TanggalLahir                        287 non-null    object
 20  TanggalHiring                       287 non-null    object
 21  TanggalPenilaianKaryawan            287 non-null    object
 22  TanggalResign                       287 non-null    object
dtypes: float64(4), int64(2), object(17)
memory usage: 51.7+ KB

In [22]:
df1.head()

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,NomorHP,Email,TingkatPendidikan,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
0,spiritedPorpoise3,111065,Belum_menikah,Pria,Outsource,Software Engineer (Back End),Freshgraduate_program,Sangat_bagus,Jakarta Timur,Employee_Referral,4,4.0,0.0,0.0,9.0,+6282232522xxx,spiritedPorpoise3135@yahoo.com,Magister,masih_bekerja,1972-07-01,2011-01-10,2016-2-15,-
1,jealousGelding2,106080,Belum_menikah,Pria,FullTime,Data Analyst,Freshgraduate_program,Sangat_kurang,Jakarta Utara,Website,4,4.0,4.0,0.0,3.0,+6281270745xxx,jealousGelding2239@yahoo.com,Sarjana,toxic_culture,1984-04-26,2014-01-06,2020-1-17,2018-6-16
2,pluckyMuesli3,106452,Menikah,Pria,FullTime,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Timur,Indeed,4,3.0,0.0,0.0,11.0,+6281346215xxx,pluckyMuesli3961@icloud.com,Magister,jam_kerja,1974-01-07,2011-01-10,2016-01-10,2014-9-24
3,stressedTruffle1,106325,Belum_menikah,Pria,Outsource,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Pusat,LinkedIn,3,3.0,0.0,4.0,6.0,+6283233846xxx,stressedTruffle1406@hotmail.com,Sarjana,masih_bekerja,1979-11-24,2014-2-17,2020-02-04,-
4,shyTermite7,111171,Belum_menikah,Wanita,FullTime,Product Manager,Freshgraduate_program,Bagus,Jakarta Timur,LinkedIn,3,3.0,0.0,0.0,11.0,+6287883263xxx,shyTermite7149@gmail.com,Sarjana,ganti_karir,1974-11-07,2013-11-11,2020-1-22,2018-09-06

## Mengubah dtypes yg tidak sesuai

In [23]:
df1['SkorKepuasanPegawai'] = df1['SkorKepuasanPegawai'].astype(int)
df1['JumlahKeikutsertaanProjek'] = df1['JumlahKeikutsertaanProjek'].astype(int)
df1['JumlahKeterlambatanSebulanTerakhir'] = df1['JumlahKeterlambatanSebulanTerakhir'].astype(int)
df1['JumlahKetidakhadiran'] = df1['JumlahKetidakhadiran'].astype(int)

In [24]:
df1['TanggalLahir'] = pd.to_datetime(df1['TanggalLahir'])
df1['TanggalHiring'] = pd.to_datetime(df1['TanggalHiring'])
df1['TanggalPenilaianKaryawan'] = pd.to_datetime(df1['TanggalPenilaianKaryawan'])
df1['TanggalResign'] = pd.to_datetime(df1['TanggalResign'], errors = 'coerce')

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 23 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Username                            287 non-null    object
 1   EnterpriseID                        287 non-null    int64
 2   StatusPernikahan                    287 non-null    object
 3   JenisKelamin                        287 non-null    object
 4   StatusKepegawaian                   287 non-null    object
 5   Pekerjaan                           287 non-null    object
 6   JenjangKarir                        287 non-null    object
 7   PerformancePegawai                  287 non-null    object
 8   AsalDaerah                          287 non-null    object
 9   HiringPlatform                      287 non-null    object
 10  SkorSurveyEngagement                287 non-null    int64
 11  SkorKepuasanPegawai                 287 non-null    int32
 12  JumlahKeikutsertaanProjek           287 non-null    int32
 13  JumlahKeterlambatanSebulanTerakhir  287 non-null    int32
 14  JumlahKetidakhadiran                287 non-null    int32
 15  NomorHP                             287 non-null    object
 16  Email                               287 non-null    object
 17  TingkatPendidikan                   287 non-null    object
 18  AlasanResign                        287 non-null    object
 19  TanggalLahir                        287 non-null    datetime64[ns]
 20  TanggalHiring                       287 non-null    datetime64[ns]
 21  TanggalPenilaianKaryawan            287 non-null    datetime64[ns]
 22  TanggalResign                       89 non-null     datetime64[ns]
dtypes: datetime64[ns](4), int32(4), int64(2), object(13)
memory usage: 47.2+ KB

In [26]:
df1.head()

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,SkorSurveyEngagement,SkorKepuasanPegawai,JumlahKeikutsertaanProjek,JumlahKeterlambatanSebulanTerakhir,JumlahKetidakhadiran,NomorHP,Email,TingkatPendidikan,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
0,spiritedPorpoise3,111065,Belum_menikah,Pria,Outsource,Software Engineer (Back End),Freshgraduate_program,Sangat_bagus,Jakarta Timur,Employee_Referral,4,4,0,0,9,+6282232522xxx,spiritedPorpoise3135@yahoo.com,Magister,masih_bekerja,1972-07-01,2011-01-10,2016-02-15,NaT
1,jealousGelding2,106080,Belum_menikah,Pria,FullTime,Data Analyst,Freshgraduate_program,Sangat_kurang,Jakarta Utara,Website,4,4,4,0,3,+6281270745xxx,jealousGelding2239@yahoo.com,Sarjana,toxic_culture,1984-04-26,2014-01-06,2020-01-17,2018-06-16
2,pluckyMuesli3,106452,Menikah,Pria,FullTime,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Timur,Indeed,4,3,0,0,11,+6281346215xxx,pluckyMuesli3961@icloud.com,Magister,jam_kerja,1974-01-07,2011-01-10,2016-01-10,2014-09-24
3,stressedTruffle1,106325,Belum_menikah,Pria,Outsource,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Pusat,LinkedIn,3,3,0,4,6,+6283233846xxx,stressedTruffle1406@hotmail.com,Sarjana,masih_bekerja,1979-11-24,2014-02-17,2020-02-04,NaT
4,shyTermite7,111171,Belum_menikah,Wanita,FullTime,Product Manager,Freshgraduate_program,Bagus,Jakarta Timur,LinkedIn,3,3,0,0,11,+6287883263xxx,shyTermite7149@gmail.com,Sarjana,ganti_karir,1974-11-07,2013-11-11,2020-01-22,2018-09-06